### Week 4 (continued) - HM

## Enumerate

Enumerate lets you access both the index and the item itself for an item in a list -- this is useful when you want access to both the item and the index of that item in the body of the loop. You can always access the item by using `item = list[index]` but enumerate lets you shorten this.

In [ ]:
# define a dictionary
expat = {
    "appetizer": ['cauliflower wings', 'tater tots'],
    "main": ['curry', 'burger'],
    "dessert": ['ice cream', 'pastry']

}

In [ ]:
for item in expat:
    print(item)

In [ ]:
for item in expat["appetizer"]:
  print(item)

In [ ]:
# What if we want both the index and the value at that index for a list?
for i in range(len(expat["appetizer"])):
  print(i, expat["appetizer"][i])

In [ ]:
# Enumerate lets us get both at the same time elegantly!
for i, item in enumerate(expat["appetizer"]):
  print(i, item)

In [ ]:
# We can also use enumerate with the dictionary to number (key, value) pairs.
for i, (key, value) in enumerate(expat.items()):
  print(i, key, value)

### Exercise:

Can you use a for loop with enumerate to remove all odd numbers from `evens`, so that `evens` contains all the even digits? Use `pop` or `del`, don't use `remove` for this.

**Reminder:** The pop() function removes the last element or the element based on the index given. remove() function removes the first occurrence of the specified element. The del keyword removes the element specified by the index.

In [1]:
evens = list(range(1,10))
evens = [i for i in range (1,10)]
print(evens)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
...

# While loops

While loops, unlike for loops, will iterate indefinitely, until the condition following the while is False. You might want to do this if you are using an iterative algorithm where you want the performance to get above a certain level before stopping, for example with machine learning (more on this later).

In [2]:
i = 0
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# While loops
# find largest power of 2 less than 9000
power = 0
while 2**power < 9000:
  power = power + 1  #updates variable but the last one will be the power that makes it go above 9000
power = power - 1 #this brings it back to the right number to print
print(2**power)

If you put a condition that is never False, your code may run indefinitely, and you may have to interrupt your kernel to get it to stop.

In [5]:
i=0
while i < 10:
  print(i)

## Exercise:
The Collatz sequence begins with some starting number. Given its previous number $n$, it generates the next number based on the following rule: if $n$ is even, the next number is $n/2$. If $n$ is odd, the next number is $3n+1$.

Write some code below that generates the Collatz sequence for a starting number of $27$ until the number hits $1$.

In [8]:
# Collatz sequence  #my answer
n = 27
while n != 1:
    print(n)
    if n%2==0:
        n = n/2
    else:
        n = 3*n + 1
print (n)

27
82
41.0
124.0
62.0
31.0
94.0
47.0
142.0
71.0
214.0
107.0
322.0
161.0
484.0
242.0
121.0
364.0
182.0
91.0
274.0
137.0
412.0
206.0
103.0
310.0
155.0
466.0
233.0
700.0
350.0
175.0
526.0
263.0
790.0
395.0
1186.0
593.0
1780.0
890.0
445.0
1336.0
668.0
334.0
167.0
502.0
251.0
754.0
377.0
1132.0
566.0
283.0
850.0
425.0
1276.0
638.0
319.0
958.0
479.0
1438.0
719.0
2158.0
1079.0
3238.0
1619.0
4858.0
2429.0
7288.0
3644.0
1822.0
911.0
2734.0
1367.0
4102.0
2051.0
6154.0
3077.0
9232.0
4616.0
2308.0
1154.0
577.0
1732.0
866.0
433.0
1300.0
650.0
325.0
976.0
488.0
244.0
122.0
61.0
184.0
92.0
46.0
23.0
70.0
35.0
106.0
53.0
160.0
80.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

In [11]:
# Collatz sequence  #Renata's answer
n = 27
L = []
L.append(n)
while n != 1:
    
    if n%2==0:
        n = n/2
    else:
        n = 3*n + 1
    L.append(n)
L

[27,
 82,
 41.0,
 124.0,
 62.0,
 31.0,
 94.0,
 47.0,
 142.0,
 71.0,
 214.0,
 107.0,
 322.0,
 161.0,
 484.0,
 242.0,
 121.0,
 364.0,
 182.0,
 91.0,
 274.0,
 137.0,
 412.0,
 206.0,
 103.0,
 310.0,
 155.0,
 466.0,
 233.0,
 700.0,
 350.0,
 175.0,
 526.0,
 263.0,
 790.0,
 395.0,
 1186.0,
 593.0,
 1780.0,
 890.0,
 445.0,
 1336.0,
 668.0,
 334.0,
 167.0,
 502.0,
 251.0,
 754.0,
 377.0,
 1132.0,
 566.0,
 283.0,
 850.0,
 425.0,
 1276.0,
 638.0,
 319.0,
 958.0,
 479.0,
 1438.0,
 719.0,
 2158.0,
 1079.0,
 3238.0,
 1619.0,
 4858.0,
 2429.0,
 7288.0,
 3644.0,
 1822.0,
 911.0,
 2734.0,
 1367.0,
 4102.0,
 2051.0,
 6154.0,
 3077.0,
 9232.0,
 4616.0,
 2308.0,
 1154.0,
 577.0,
 1732.0,
 866.0,
 433.0,
 1300.0,
 650.0,
 325.0,
 976.0,
 488.0,
 244.0,
 122.0,
 61.0,
 184.0,
 92.0,
 46.0,
 23.0,
 70.0,
 35.0,
 106.0,
 53.0,
 160.0,
 80.0,
 40.0,
 20.0,
 10.0,
 5.0,
 16.0,
 8.0,
 4.0,
 2.0,
 1.0]

# Break and Continue

`break` and `continue` are statements that can be used within loops.

When code reaches a `continue` statement, it jumps to the next iteration of the loop without running the rest of the code in the loop.

When code reaches a `break` statement it jumps outside the loop (skipping any remaining iterations) without running the rest of the code in the loop.

A `pass` statement, finally is completely ignored. This is useful when code is required syntactically, but you don't actually want to run anything there.

For these statements it may not be entirely clear right now what their purpose is, but they become particularly useful in managing more complex code.

In [12]:
for i in range(10):
  print('New loop')
  if i==5:
    break # Leaves the loop completely once it encounters this statement
  print(i)

New loop
0
New loop
1
New loop
2
New loop
3
New loop
4
New loop

In [13]:
for i in range(10):
  print('New loop')
  if i==5:
    pass # Leaves the loop completely once it encounters this statement
  print(i)

New loop
0
New loop
1
New loop
2
New loop
3
New loop
4
New loop
5
New loop
6
New loop
7
New loop
8
New loop
9

In [14]:
for i in range(10):
  print('New loop')
  if i%2==0:
    continue
  print(i) # This command is skipped for all even numbers

New loop
New loop
1
New loop
New loop
3
New loop
New loop
5
New loop
New loop
7
New loop
New loop
9

## Exercises

1. Fix this code so it runs.

In [24]:
for i in range(10):
    pass

2. Add something we just learned about to this code so the last thing it prints is 10.

In [27]:
for i in range(15,-1,-1):
    if i==9:
        break
    print(i)

15
14
13
12
11
10

3. Add something we just learned to the below code so it doesn't print multiples of 3

In [29]:
for i in range(10):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8

# Functions

Currently, you are writing code simply by defining code that will be executed immediately. As you create larger codebases and share them with other people, it will be important for you to structure your code in functions: structure which execute a certain piece of code.

For example, the Fibonacci sequence starts with $x_0=0$ and $x_1=1$. We then define $x_{j+2}=x_j+x_{j+1}$. The following functions prints out each value of the Fibonacci sequence until some value $n$.

You can recognize functions by the `def` symbol in the beginning. `fibonacci` is the function's name and the variable in parentheses afterwards is an argument provided to the function. (Multiple arguments would be separated by commas.)

In [30]:
def fibonacci(n):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to print.
  """
#^this adds the explanation of the function to its help function

  a,b = 0, 1
  while a <n:
    print(a)
    next= a+b
    a = b
    b = next

In [31]:
fibonacci (3000)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584

In [ ]:
help(fibonacci)

## Exercise

Write a function (called `collatz`) that takes in a starting value and prints out each value of the Collatz sequence. As a reminder, the rule was:
- if the previous value $n$ was even, the next value is $n/2$.
- if the previous value was odd, the next value is $3n+1$.
Let the function end when the value taken is $1$.

In [42]:
def collatz(n):
  """
  prints the collatz sequence of a given value
  """
  while n != 1:
   if n%2==0:
        n = n/2
   else:
        n = 3*n + 1
   print (n)

In [39]:
collatz(27)

82
41.0
124.0
62.0
31.0
94.0
47.0
142.0
71.0
214.0
107.0
322.0
161.0
484.0
242.0
121.0
364.0
182.0
91.0
274.0
137.0
412.0
206.0
103.0
310.0
155.0
466.0
233.0
700.0
350.0
175.0
526.0
263.0
790.0
395.0
1186.0
593.0
1780.0
890.0
445.0
1336.0
668.0
334.0
167.0
502.0
251.0
754.0
377.0
1132.0
566.0
283.0
850.0
425.0
1276.0
638.0
319.0
958.0
479.0
1438.0
719.0
2158.0
1079.0
3238.0
1619.0
4858.0
2429.0
7288.0
3644.0
1822.0
911.0
2734.0
1367.0
4102.0
2051.0
6154.0
3077.0
9232.0
4616.0
2308.0
1154.0
577.0
1732.0
866.0
433.0
1300.0
650.0
325.0
976.0
488.0
244.0
122.0
61.0
184.0
92.0
46.0
23.0
70.0
35.0
106.0
53.0
160.0
80.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

## return

The return sequence leaves the function and returns any variable coming afterwards.

In [45]:
def fib_return (n):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to return.
  Returns:
      list: List of fibonacci sequence values
  """

  fib_list = []
  a,b = 0, 1
  while a <n:
    fib_list.append(a)
    next= a+b
    a = b
    b = next
  return fib_list

In [46]:
fib_return(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [48]:
my_fib_list = fib_return(1000)

In [49]:
my_fib_list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

## Default arguments

In [ ]:
# We cannot run fib_return without specifying n:
fib_return()

In [52]:
# Default arguments can be specified but don't have to be:
def fib_return (n=1):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to return. Default value is 1.
  Returns:
      list: List of fibonacci sequence values
  """

  fib_list = []
  a,b = 0, 1
  while a <n:
    fib_list.append(a)
    next= a+b
    a = b
    b = next
  return fib_list

In [53]:
fib_return()

[0]

In [54]:
fib_return(10)

[0, 1, 1, 2, 3, 5, 8]

## Args and kwargs

You can also use a piece of code that allows you to provide arbitrary arguments (with or without keywords) to your function. If you use `*args` as one of the arguments of your function, this will take any unnamed argument and put all of them in a tuple:

In [55]:
def f(a, *args):
  print(a)
  print(args)
f(1, 2, 3)

1
(2, 3)

In [ ]:
f(1, 2, 3, 4)

In [ ]:
# The name args is not important
def f(a, *variable):
  print(a)
  print(variable)
f(1, 2, 3)
f(1, 2, 3, 4)

Similarly, if you put two asterisks in front of your variable (e.g. ``**kwargs``), it will assign all names variables to kwargs (in a dictionary format).

In [ ]:
def f(a, **kwargs):
  print(a)
  print(kwargs)
f(a=1, b=2, c=3)

Again, we're mostly explaining this so you are familiar with it later on, when it will become extremely useful.

# Errors

By now, we have seen several pieces of code that have failed to run. In that case, Python does not only raise an error, but also specifies what exactly went wrong.

In [56]:
# A syntax error indicates that your code is not properly formatted:
a = 2
print(a+3

SyntaxError: incomplete input (495188828.py, line 3)

In [57]:
# A type error indicates that a function received an input of the wrong type
a = '2'
print(a+3)

TypeError: can only concatenate str (not "int") to str

In [58]:
# An index error suggests that it is not possible to index an object in the attempted way.
a = [2, 3]
a[3]

IndexError: list index out of range

You can return errors yourself using the command `raise`:

In [59]:
a = 3
if a == 3:
  raise ValueError('a should not be three')

ValueError: a should not be three

## Exercise
Write a function `integer_add` that takes two arguments and adds them together. If either of the arguments are not integers, it should raise an error. What is the correct error for this issue?

# Try / Except


`try` tries the code in the `try` codeblock, and if it gives an error, runs code in an `except` code block. Best practice is to specify the errors you expect in the `except` statement so that you don't accidentally allow an unexpected error to go by unreported and unnoticed.

For example, lets say that we want to count the number of occurrences of each letter in a given word -- for this example we will use abracadabra, but we want our code to work on any word.

We might decide to do this using a dictionary where the keys are the letters and the values are the number of times that letter has occurred. We only want to have letters that do occur in the word as keys in our dictionary.

In [ ]:
word = "abracadabra"

letter_counts = {}
for letter in word: # we can loop through strings like lists or tuples.
  letter_counts[letter]+=1 # add one to the value at key letter
letter_counts

In [ ]:
word = "abracadabra"


letter_counts = {}
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

See below for why it is important to specify the type of error you expect. Since we specified the type of error we expected and got a different error, we still find out that there is an error, and can take precautions to make sure we don't, for example, overwrite important info.

In [ ]:
word = "abracadabra"


letter_counts = {}
letter_counts['a'] = "important info that should not be overwritten" # something unexpected as a value
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

What happens if you do not specify KeyError after `except` and just write `except:`?

Try modifying below.

In [ ]:
word = "abracadabra"


letter_counts = {}
letter_counts['a'] = "important info that should not be overwritten" # something unexpected as a value
for letter in word:
  try:
    letter_counts[letter]+=1
  except: # we specify the type of error we expect here
    print('I found an error')
    letter_counts[letter] = 1

print(letter_counts)

### Exercise:
Use try/except to write code that takes numbers a and b and prints a/b. If it gets an error (for example b is 0), it should instead print "Cannot divide by zero". Try your code with a few different choices of a and b to make sure it works correctly.